/* 
    width, height : auto(기본값), px, em, rem, vw, vh, %
    vw : viewport width
    vh : viewport height

    블록 요소
    width : auto == 100%
    height : auto == 0

    max, min-width : width 속성을 재정의
    max-width : 최대 크기 제한
    min-width : 부모가 작더라도 자식에게 보장되는 최소 넓이
*/

* {
  margin: 0;
  padding: 0;
}

.parent {
  width: 100%;
  height: 300px;
  border: 2px solid red;
}

.child {
  max-width: 600px;
  min-width: 200px;
  width: auto;
  height: 200px;
  background-color: orange;
}
