* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 700px;
  border: 2px double darkcyan;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
}

.container div {
  width: 150px;
  height: 100px;
  border: 2px dashed black;
}

.container div:first-child {
  background-color: greenyellow;
}

.container div:nth-child(2) {
  background-color: yellow;
}
.container div:nth-child(3) {
  background-color: goldenrod;
}
.container div:nth-child(4) {
  background-color: blue;
}
.container div:nth-child(5) {
  background-color: red;
}

.container div:last-child {
  background-color: green;
}
