* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  border: 2px double darkcyan;
  width: 500px;
}

.container div {
  /* width: 100px; */
  height: 100px;
  border: 2px dashed black;
  flex-basis: 200px;
}

.container div:first-child {
  background-color: greenyellow;
  order: 1;
  /* flex-grow: 1; */
}

.container div:nth-child(2) {
  background-color: yellow;
  order: 2;
  flex-shrink: 5;
}
.container div:nth-child(3) {
  background-color: goldenrod;
  /* flex-grow: 1; */
}
.container div:nth-child(4) {
  background-color: blue;
  flex-shrink: 3;
}
.container div:nth-child(5) {
  background-color: red;
}

.container div:last-child {
  background-color: green;
  order: -1;
}
