* {
  margin: 0;
  padding: 0;
}

/* 
    flex 레이아웃
    1. 부모 요소에 적용하는 속성
        - display:flex;
        - flex-wrap : 
            1) nowrap : 줄바꿈 안함 (기본값)
            2) wrap : 줄바꿈(오른쪽부터 아래줄로)
            3) wrap-reverse : 줄바꿈(왼쪽부터 아래줄로)
        - justify-content : 주 축의 정렬 방법
            1) flex-start : 기본 좌>우(direction방향) 배치 (기본값)
            2) flex-end : 기본 우>좌(direction방향) 배치
            3) center : 가운데 정렬
            4) space-between : 시작, 마지막 요소를 양끝으로 밀고 남은 공백에 배치
            5) space-around : 요소들 주위를 공백으로 채움
            6) space-evenly : 똑같이 공백을 나눠가짐
        - align-content : align-items와 비슷함
            - flex-wrap: wrap; 두 줄 일때 사용

        - align-items : 주 축의 교차(보조)축의 정렬 방식
            flex-direction:row : 주 축(x), 교차축(y)
            flex-wrap: wrap;
            한줄로 처리할 때 사용

            align-items: stretch; (기본값) 자식들이 부모 요소의 높이를 채움(높이 제한 X시)
            1) flex-start; 각 줄의 시작점으로 정렬
            2) flex-end; 각 줄의 끝점으로 정렬
            3) center; 각 줄의 중앙으로 정렬
            4) baseline; 문자 기준선으로 정렬
        - flex-direction : 자식을 어느 축으로 정렬할 것인가
            1) row : items를 수평(좌>우) 축 기준으로 표시
            2) row-reverse : (우>좌)
            3) column : items를 수직(상>하) 축 기준으로 표시
            4) column-reverse : (하>상)
    2. 자식 요소에 적용하는 속성
        - order : items 순서 설정
          order : 0; (기본값)
          숫자가 클수록 맨 끝으로
          앞 쪽에 배치하려면 - 값 부여
        - flex-grow : items 증가 비율
          flex-grow : 0; (기본값)
          부모 요소에 여백이 있는 경우 아이템 너비를 늘림
          숫자가 클수록 많은 너비를 가져감

        - flex-shrink : items 감소 비율
          숫자가 클수록 많이 감소됨
        - flex-basis : items (공간 배분 전) 기본 너비 설정
          auto (기본값) => 아이템들의 width를 사용 or 컨텐츠의 크기만큼
        - align-self
*/

.container {
  display: flex;
  flex-direction: row;
}

.container div {
  width: 33.3%;
  height: 200px;
  background-color: darkmagenta;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
