/* 
    반응형 웹
    min-width, max-width를 조절
    @media (max-width: 960px){}
    @media (min-width: 480 px) and (max-width: 780px){} (and조건)
    @media (min-width: 480 px), (max-width: 780px){} (or조건)
*/

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100px;
  background-color: yellow;
}

@media screen and (max-width: 960px) {
  .container {
    background-color: blueviolet;
  }
}
@media screen and (max-width: 720px) {
  .container {
    background-color: yellowgreen;
  }
}
@media screen and (max-width: 540px) {
  .container {
    background-color: crimson;
  }
}
